.App {
  text-align: center;
}

.App-header {
  background-color: #B7B6C2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 400px) {
  
  nav.main-navigation ul.nav-list {
    text-align: left;
  }
  
  .nav-list li.nav-list-item {
    display: inline-block;
    line-height: 10px;
    margin-left: 10px;
    margin-top: 2px;
    font-size: 5px;
    cursor: pointer;
    color: #D1D5DE;
  }

  ul.nav-list{
    padding: 0 !important;
  }
}

.main-navigation {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background-color: #2E2836;
  z-index:1;
}

nav.main-navigation ul.nav-list {
  text-align: left;
}

.nav-list li.nav-list-item {
  display: inline-block;
  line-height: 25px;
  margin-left: 30px;
  margin-top: 15px;
  font-size: 25px;
  cursor: pointer;
  color: #D1D5DE;
}

@keyframes FadeIn {
  0% {
      opacity: 0;
      -webkit-transition-duration: 0.8s;
      transition-duration: 0.8s;
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
  }

  100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      pointer-events: auto;
      transition: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.nav-list li {
  animation: FadeIn 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  animation-fill-mode: both;
}

.nav-list li:nth-child(1) {
  animation-delay: .3s;
}

.nav-list li:nth-child(2) {
  animation-delay: .6s;
}

.nav-list li:nth-child(3) {
  animation-delay: .9s;
}

.nav-list li:nth-child(4) {
  animation-delay: 1.2s;
}

.nav-list li:nth-child(5) {
  animation-delay: 1.5s;
}

/* Animation */

@keyframes fadeInUp {
  from {
      transform: translate3d(0, 40px, 0)
  }

  to {
      transform: translate3d(0, 0, 0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0, 40px, 0)
  }

  to {
      transform: translate3d(0, 0, 0);
      opacity: 1
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

iframe {
  z-index:0;
}

.project-div, .contact-div {
  background-color: #B7B6C2;
}

.img-circle {
  border-radius: 50%;
  padding: 30px;
  margin-top: 20px;
  height: 60vh;
}

.card-body h5, .card-body p {
  color: black;
}

a+a {
  margin-left: 20px;
}

nav ul li:last-child { 
  float: right; 
  margin-right: 30px;
}

.cardproject {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  box-shadow: 0 5px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12), 0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1);
  background-color: #fff;
  border: none;
  border-radius: 0.625rem;
}

#selected {
  color: #B7B6C2;
  background-color: #2E2836;
}